body{
	margin: 0px;
}

.PARENT{
	position: fixed;
	top: 0px;
	left: 0px;

	overflow: auto;
	scroll-snap-type: y mandatory;
	width: 100vw;
	height: 100vh;

	z-index: 10;

	background: linear-gradient(#e66465, #9198e5);
}

.AREA{
	scroll-snap-align: start;

	width: 100vw;
	height: 100vh;

	background-color: transparent;
}

.WELCOME{
	width: 100vw;
	height: 100vh;

	border-bottom: solid;
	border-width: 2px;
}

.WELCOME_TEXT{
	position: absolute;
	top: 20px;
	left: -700px;

	font-size: 60px;
}

.WELCOME_TEXT_OPEN{
	transition: 1s;

	position: absolute;
	top: 20px;
	left: 20px;

	font-size: 60px;
}

.CONTENTS{
	width: 100vw;
	height: 100vw;

	text-align: center;
}

.MSG_DIV > button{
	height: 50px;

	border: none;

	transition: 0.1s;
}

.MSG_DIV > button:hover{
	background-color: darkgray;
}

.MSG_DIV > button:active{
	background-color: rgb(0, 0, 0);
	color: white;
}