#URL書き換えエンジンを有効化(必須)
RewriteEngine On

#ここでどんなパスでもindex.htmlに行くように
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/STYLE/
RewriteCond %{REQUEST_URI} !^/SCRIPT/
RewriteRule ^(.*)$ index.html [QSA,L]