#URL書き換えエンジンを有効化(必須)
RewriteEngine On

#ここでどんなパスでもindex.phpに行くように
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<Files "user.json">
	Require all denied
</Files>
